<a href="https://colab.research.google.com/github/youssssefff/LocalBrandi/blob/main/google__data_analytics_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [90]:
def get_seconds(hours, minutes, seconds):
    return 3600*hours + 60*minutes + seconds

Functions in python

In [91]:
x = ['now' , 'we', 'are', 'cooking', 7, 'recipes']

Lists

In [92]:
x[3]

'cooking'

In [93]:
x[1:3]

['we', 'are']

In [94]:
x[:3]

['now', 'we', 'are']

In [95]:
x[3:]

['cooking', 7, 'recipes']

In [96]:
"this" in x

False

In [97]:
"we" in x

True

In [98]:
x.append("appended")
x

['now', 'we', 'are', 'cooking', 7, 'recipes', 'appended']

In [99]:
x.insert(3,"inserted")
x

['now', 'we', 'are', 'inserted', 'cooking', 7, 'recipes', 'appended']

In [100]:
# "now" is emoved fom the list
x.remove("now")
x

['we', 'are', 'inserted', 'cooking', 7, 'recipes', 'appended']

In [101]:
x.pop()
x

['we', 'are', 'inserted', 'cooking', 7, 'recipes']

In [102]:
x.pop(4)
x

['we', 'are', 'inserted', 'cooking', 'recipes']

In [103]:
y = (1,2,3,4,5)
y

(1, 2, 3, 4, 5)

Tuple

In [104]:
# 'tuple' object does not support item assignment
# so this wil not work
# x[3] = 0

In [105]:
# you can only ressin the whole tuple
y = y + ("js",)
y

(1, 2, 3, 4, 5, 'js')

In [106]:
# and you can transform it from another structure
y = tuple(x)
y

('we', 'are', 'inserted', 'cooking', 'recipes')

In [108]:
# function return tuples
def to_dollars_cents(amount_in_cents):
    dollars = amount_in_cents // 100
    cents = amount_in_cents % 100
    return dollars, cents

In [110]:
to_dollars_cents(1002)

(10, 2)

In [111]:
# tuples are immutable they cant be split
# y.split()

In [117]:
# but we can unpack tuples
d, c = to_dollars_cents(1002)
type(d)

int

In [138]:
team = [
        ("marta", 22, "center"),
        ("dave", 20, "wing"),
        ("mike", 19, "center"),
        ("john", 21, "wing"),
        ("travis", 42, "coach"),
        ]

In [120]:
zoo = {
    "a1":"lions",
    "a2":"tigers",
    "a3":"bears",
    "a4":"giraffes",
    "a5":"elephants"
}

Dictionaries

In [121]:
print(zoo["a1"]);

lions

In [123]:
# another way to implent dictionaries
zoo = dict( a1 ="lions", a2 = "tigers", a3 = "bears", a4 = "giraffes", a5 = "elephants")
zoo["a1"]

'lions'

In [125]:
zoo["another animal"] = "cats"
zoo

{'a1': 'lions',
 'a2': 'tigers',
 'a3': 'bears',
 'a4': 'giraffes',
 'a5': 'elephants',
 'another animal': 'cats'}

In [126]:
#keys are imutable that means the can be floars, strings, numbers or tuples

In [128]:
# you can check for keys, you cant check for values
"a1" in zoo

True

In [134]:
# challenge 1: Solved
newlist = {}
for tuple in team:
  key = tuple[2]
  newlist[key] = (tuple[0], tuple[1])
newlist

{'cneter': ('marta', 22), 'wing': ('dave', 20), 'coach': ('travis', 42)}

In [139]:
newlist = {}
for name, age ,pos in team:
  if(pos in newlist):
    newlist[pos].append((name, age))
  else:
    newlist[pos] = [(name, age)]
newlist

{'center': [('marta', 22), ('mike', 19)],
 'wing': [('dave', 20), ('john', 21)],
 'coach': [('travis', 42)]}

In [140]:
newlist.keys()

dict_keys(['center', 'wing', 'coach'])

In [141]:
newlist.values()

dict_values([[('marta', 22), ('mike', 19)], [('dave', 20), ('john', 21)], [('travis', 42)]])

In [142]:
newlist.items()

dict_items([('center', [('marta', 22), ('mike', 19)]), ('wing', [('dave', 20), ('john', 21)]), ('coach', [('travis', 42)])])

In [144]:
# each elemet of  a set must be unique
new_set = set(["a", "b", "c","c"])
new_set

{'a', 'b', 'c'}

Sets

In [147]:
# because the set takes iterables
new_set = set("oll")
new_set

{'l', 'o'}

In [148]:
set1 = {"a", "b", "c"}
set2 = {"e", "b", "d"}

In [149]:
set1.intersection(set2)

{'b'}

In [150]:
set1.union(set2)

{'a', 'b', 'c', 'd', 'e'}

In [152]:
set1.difference(set2)

{'a', 'c'}

In [154]:
#all elements that do not share
set1.symmetric_difference(set2)

{'a', 'c', 'd', 'e'}

In [165]:
# numpy use vectorizaion to make working with data structure more effiecient and faster
# "as np" is called aliasing
# array elements must be of the same type
import numpy as np
narray_1 = np.array([1,2,3,4,5])
narray_2 = np.array([6,7,8,9,10])
array_1 = [1,2,3,4,5]
array_2 = [6,7,8,9,10]
narray_1 * narray_2

array([ 6, 14, 24, 36, 50])

Numpy

In [161]:
#if we tries this with normal python arrays it will throw an error
"""
array_1 = [1,2,3,4,5]
array_2 = [6,7,8,9,10]
array_3 = array_1 * array_2
print(array_3)
"""

'\narray_1 = [1,2,3,4,5]\narray_2 = [6,7,8,9,10]\narray_3 = array_1 * array_2\nprint(array_3)\n'

In [166]:
array_1[-1] = 10
array_1

[1, 2, 3, 4, 10]

In [168]:
narray_1[-1] = 10
narray_1

array([ 1,  2,  3,  4, 10])

In [188]:
import pandas as pd

In [177]:
data = {"Age": [3,45,65,14], "Name": ["marta", "dave", "mike", "john"],"Fare": [2312,132,435,6536]}
dataframe = pd.DataFrame(data)
dataframe

   Age   Name  Fare
0    3  marta  2312
1   45   dave   132
2   65   mike   435
3   14   john  6536

Pandas

In [178]:
dataframe["Age"].max()

65

In [179]:
dataframe["Age"].min()

3

In [180]:
dataframe["Age"].mean()

31.75

In [181]:
dataframe["Age"].median()

29.5

In [182]:
dataframe["Age"].std()

28.41801072090257

In [183]:
dataframe.describe()

             Age         Fare
count   4.000000     4.000000
mean   31.750000  2353.750000
std    28.418011  2950.182636
min     3.000000   132.000000
25%    11.250000   359.250000
50%    29.500000  1373.500000
75%    50.000000  3368.000000
max    65.000000  6536.000000

In [184]:
dataframe[ dataframe["Age"] > 30]

   Age  Name  Fare
1   45  dave   132
2   65  mike   435

In [187]:
dataframe['2023_Fare'] = dataframe['Fare'] * 2
dataframe

   Age   Name  Fare  2023_Fare
0    3  marta  2312       4624
1   45   dave   132        264
2   65   mike   435        870
3   14   john  6536      13072

In [190]:
titanic = pd.read_csv("titanic.csv")
titanic.head(25)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S

In [191]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [192]:
titanic.shape

(891, 12)

In [193]:
#null values in pandas are represented by NAN
titanic.Age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [194]:
titanic["Age"]

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [195]:
titanic[["Age", "Fare"]]

      Age     Fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
886  27.0  13.0000
887  19.0  30.0000
888   NaN  23.4500
889  26.0  30.0000
890  32.0   7.7500

[891 rows x 2 columns]

In [196]:
titanic.iloc[0]

PassengerId                          1
Survived                             0
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                               22.0
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Name: 0, dtype: object

In [197]:
#this is wrong
#titanic[0]

KeyError: 0

In [203]:
titanic.loc[1:3,["Name"]]

                                                Name
1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2                             Heikkinen, Miss. Laina
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)

In [204]:
mask = titanic["Age"] > 30
mask

0      False
1       True
2      False
3       True
4       True
       ...
886    False
887    False
888    False
889    False
890     True
Name: Age, Length: 891, dtype: bool

In [205]:
dataframe[mask]

<ipython-input-205-b8a585b90f8e>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dataframe[mask]

   Age  Name  Fare  2023_Fare
1   45  dave   132        264
3   14  john  6536      13072

In [206]:
#groupby
#agg
#concat
#merge

In [207]:
df1 = pd.DataFrame({"Name": ["marta", "dave", "mike", "john"],"Fare": [2312,132,435,6536]})
df2 = pd.DataFrame({"Name": ["joe", "dan", "either", "ray"],"Fare": [2312,132,435,653 ]})
df3 = pd.concat([df1, df2])
df3

     Name  Fare
0   marta  2312
1    dave   132
2    mike   435
3    john  6536
0     joe  2312
1     dan   132
2  either   435
3     ray   653